.game-list__root {
  margin-top: 30px;
  text-align: center;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 50px;
  }
}
