// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

// Global styles
$offwhite: #efefef;

body {
  background: $offwhite;
  font-family: 'Open Sans';
  font-size: 14px;
}

h1 {
  font-weight: normal;
}
